# Environment
.env

# Keystore files
/android/key.properties

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/.idea
**/android/local.properties
**/android/**/build/
/android/**/local.properties
**/android/**/captures/
/android/**/generated/

# iOS related
**/ios/Flutter/.generated
**/ios/.generated
**/ios/Pods
**/ios/.symlinks
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner.xcworkspace
**/ios/Generated.xcconfig

# Gradle
**/gradle-wrapper.jar
**/.gradle/
build/

# Node.js related
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Lock files
package-lock.json
yarn.lock

# Temporary files
*.tmp
*.temp
